<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>킥보드 로그</title>
    <link href="../static/log.css" rel="stylesheet">
</head>
<body>
<div class="block"></div>
    <div class="container">
        <table>
            <h1>STATE LOG</h1><br>
            <tr>
                <th>Time Stamp</th>
                <th>ID </th>
                <th>NAME </th>
                <th>PHONE </th>
                <th>LENDING</th>
        	    <th>HELMET</th>
                <th>CHARGING</th>

            </tr>
    {% for log in logs %}
            <tr>
                <td id="timestamp">{{ log['timestamp']}}</td>
                <td>{{ log['id'] }}</td>
                <td>{{ log['name'] }}  </td>
                <td>{{ log['phone'] }}  </td>
                <td>{{ log['lend'] }}  </td>
	            <td>{{ log['helmet'] }}  </td>
                <td>{{ log['ischarging'] }}</td>
            </tr>
    {% endfor %}
        </table>
    </div>
    <footer class="footer">
        <p>&copy; HEXPOD 2021</p>
    </footer>
<div class="block"></div>    
</body>
</html>
