<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>킥보드 현황</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<table border='1'>
    <tr>
        <td>킥보드번호  </td>
        <td>빌려간놈이름  </td>
        <td>빌려간놈번호  </td>
        <td>킥보드 대여 상태</td>
	    <td>헬멧착용여부</td>
        <td>충전기 연결 여부</td>

    </tr>

    <tr>
        <td>{{ kicks['id'] }}</td>
        <td>{{ kicks['name'] }}  </td>
        <td>{{ kicks['phone'] }}  </td>
        <td>{{ kicks['lend'] }}  </td>
	    <td>{{ kicks['helmet'] }}  </td>
        <td>{{ kicks['ischarging'] }}</td>
    </tr>
</table>

</body>
</html>
